# Compiled source #
###################
*.obj
*.d
*.gcno
*.o

# Packages #
############
*.rpm
*.sdp
*.tar.gz
*.tgz
*.bin
*.exe
*.tar
*.zip

# Windows Specific #
####################
*.ccscc
*.dsp
*.dsw
*.vcproj
*.sln
*.pdb
*.vspscc
*.suo
*.vsscc
*.vssscc

# Compiled source: Binaries #
#############################
# asec_cnz
asec_cnz/LCTLIB_CXA
asec_cnz/asec_cxc/doc/
asec_cnz/asec_cxc/bin/acs_asec_csadmd
asec_cnz/asec_cxc/bin/csadm
asec_cnz/asec_cxc/bin/.debug/acs_asec_csadmd_dbg
asec_cnz/asec_cxc/bin/.debug/csadm_dbg
asec_cnz/lct_cxc/doc/
asec_cnz/lct_cxc/bin/acs_lct_hardeningd
asec_cnz/lct_cxc/bin/integrityap
asec_cnz/lct_cxc/bin/hwver
asec_cnz/lct_cxc/bin/sfgen
asec_cnz/lct_cxc/bin/.debug/acs_lct_hardeningd_dbg
asec_cnz/lct_cxc/bin/.debug/integrityap_dbg
asec_cnz/lct_cxc/bin/.debug/hwver_dbg
asec_cnz/lct_cxc/bin/.debug/sfgen_dbg

#aca_cnz
aca_cnz/aca_cxc/doc/
aca_cnz/aca_cxc/bin/acs_acad
aca_cnz/aca_cxc/bin/msdls
aca_cnz/aca_cxc/bin/acamsa_test
aca_cnz/aca_cxc/bin/.debug/acs_acad_dbg
aca_cnz/aca_cxc/bin/.debug/msdls_dbg
aca_cnz/acaapi_caa/test/acamsa_test/bin/acamsa_test
aca_cnz/aca_cxc/bin/lib_ext/libacs_aca.so.3.*
aca_cnz/aca_cxc/bin/lib_ext/.debug/libacs_aca.so.*

#acsc_cnz
acsc_cnz/EXHAPI_CXA
acsc_cnz/HWI_caa/
acsc_cnz/acsbin_*
acsc_cnz/doc/
acsc_cnz/exhsrc_caa/
acsc_cnz/install/
acsc_cnz/logm_cxc/doc/
acsc_cnz/logm_cxc/bin/acs_logmaintd
acsc_cnz/logm_cxc/bin/ACS_ACSC_Logmaint
acsc_cnz/logm_cxc/bin/.debug/acs_logmaintd_dbg
acsc_cnz/mktr_cxc/doc/
acsc_cnz/mktr_cxc/bin/mktr
acsc_cnz/mktr_cxc/bin/.debug/mktr_dbg
acsc_cnz/logmadm_caa/test/CUTE/bin/LOGM_Cute_Test
acsc_cnz/logmadm_caa/test/CUTE/bin/acs_cutelogmaintd
acsc_cnz/aprc_cxc/bin/lib_ext/libacs_aprc.so.1.*
acsc_cnz/aprc_cxc/bin/lib_ext/.debug/libacs_aprc.so.1.1.1_dbg

#aeh_cnz/
aeh_cnz/aeh_cxc/doc/
aeh_cnz/aeh_cxc/bin/aehevls
aeh_cnz/aeh_cxc/bin/aehls
aeh_cnz/aeh_cxc/bin/signal_handler_test
aeh_cnz/aeh_cxc/bin/ut_aeh_error
aeh_cnz/aeh_cxc/bin/ut_aeh_evreport
aeh_cnz/aeh_cxc/bin/ut_aeh_exception
aeh_cnz/aeh_cxc/bin/ut_communicationhandler
aeh_cnz/aeh_cxc/bin/ut_aeh_eventmsg
aeh_cnz/aeh_cxc/bin/.debug/aehevls_dbg
aeh_cnz/aeh_cxc/bin/.debug/aehls_dbg
aeh_cnz/aeh_cxc/bin/lib_ext/libacs_aeh.*
aeh_cnz/aeh_cxc/bin/lib_ext/.debug/libacs_aeh.*
aeh_cnz/aehapi_caa/test/aeh_signalHandler_test/obj/signal_handler_test
aeh_cnz/aehapi_caa/test/ut_aeh_error/obj/ut_aeh_error
aeh_cnz/aehapi_caa/test/ut_aeh_evreport/obj/ut_aeh_evreport
aeh_cnz/aehapi_caa/test/ut_aeh_exception/obj/ut_aeh_exception
aeh_cnz/aehapi_caa/test/ut_communicationhandler/obj/ut_communicationhandler
aeh_cnz/aehapi_caa/test/ut_eventmsg/obj/ut_aeh_eventmsg

#alh_cnz/
alh_cnz/alh_cxc/bin/doc/
alh_cnz/alh_cxc/bin/acease
alh_cnz/alh_cxc/bin/acs_alhd
alh_cnz/alh_cxc/bin/alist
alh_cnz/alh_cxc/bin/.debug/acease_dbg
alh_cnz/alh_cxc/bin/.debug/acs_alhd_dbg
alh_cnz/alh_cxc/bin/.debug/alist_dbg

#alog_cnz/
alog_cnz/alogbin_cxc_5/
alog_cnz/alog_cxc/bin/doc/
alog_cnz/alog_cxc/bin/acs_alogmaind
alog_cnz/alog_cxc/bin/alogfind
alog_cnz/alog_cxc/bin/aloglist
alog_cnz/alog_cxc/bin/alogpchg
alog_cnz/alog_cxc/bin/alogpls
alog_cnz/alog_cxc/bin/alogset
alog_cnz/alog_cxc/bin/ut_communicationhandler
alog_cnz/alog_cxc/bin/ut_drainer
alog_cnz/alog_cxc/bin/.debug/acs_alogmaind_dbg
alog_cnz/alog_cxc/bin/.debug/alogfind_dbg
alog_cnz/alog_cxc/bin/.debug/aloglist_dbg
alog_cnz/alog_cxc/bin/.debug/alogpchg_dbg
alog_cnz/alog_cxc/bin/.debug/alogpls_dbg
alog_cnz/alog_cxc/bin/.debug/alogset_dbg
alog_cnz/alog_cxc/bin/lib_ext/libacs_alog.*
alog_cnz/alog_cxc/bin/lib_ext/.debug/libacs_alog.*

#apbm_cnz/
apbm_cnz/apbm_cxc/doc/
apbm_cnz/apbm_cxc/bin/acs_apbmd
apbm_cnz/apbm_cxc/bin/bios_set
apbm_cnz/apbm_cxc/bin/dShelfMngrLog
apbm_cnz/apbm_cxc/bin/hwiprint
apbm_cnz/apbm_cxc/bin/hwmscbls
apbm_cnz/apbm_cxc/bin/hwmxls
apbm_cnz/apbm_cxc/bin/.debug/acs_apbmd_dbg
apbm_cnz/apbm_cxc/bin/.debug/bios_set_dbg
apbm_cnz/apbm_cxc/bin/.debug/dShelfMngrLog_dbg
apbm_cnz/apbm_cxc/bin/.debug/hwiprint_dbg
apbm_cnz/apbm_cxc/bin/.debug/hwmscbls_dbg
apbm_cnz/apbm_cxc/bin/.debug/hwmxls_dbg
apbm_cnz/apbm_cxc/bin/lib_ext/libacs_apbm.*
apbm_cnz/apbm_cxc/bin/lib_ext/.debug/libacs_apbm.*
apbm_cnz/apbmpipapi_caa/test/api_test/obj/apbm_pipapi_test
apbm_cnz/apbm_cxc/bin/apbm_pipapi_test
apbm_cnz/apbmapi_caa/test/api_test/obj/apbm_api_test
apbm_cnz/apbm_cxc/bin/apbm_api_test
apbm_cnz/apbmapi_caa/test/generic_test/obj/generic-test
apbm_cnz/apbm_cxc/bin/generic-test
apbm_cnz/apbm_cxc/bin/lib_ext/libacs_apbmpip.so.2.*
apbm_cnz/apbm_cxc/bin/lib_ext/.debug/libacs_apbmpip.so.2.2.2_dbg

#apsesh_cnz/
apsesh_cnz/apsesh_cxc/doc/
apsesh_cnz/apsesh_cxc/bin/acs_apseshd
apsesh_cnz/apsesh_cxc/bin/.debug/acs_apseshd_dbg

#bur_cnz/
bur_cnz/Doc/
bur_cnz/burSetup/
bur_cnz/bur_cxc/doc/
bur_cnz/bur_cxc/bin/burbackup
bur_cnz/bur_cxc/bin/burrestore
bur_cnz/bur_cxc/bin/.debug/burbackup_dbg
bur_cnz/bur_cxc/bin/.debug/burrestore_dbg

#dsd_cnz/
dsd_cnz/dsd_cxc/doc/
dsd_cnz/dsd_cxc/bin/acs_dsdd
dsd_cnz/dsd_cxc/bin/dsdls
dsd_cnz/dsd_cxc/bin/.debug/acs_dsdd_dbg
dsd_cnz/dsd_cxc/bin/.debug/dsdls_dbg
dsd_cnz/dsd_cxc/bin/lib_ext/libacs_dsd.so.2.*
dsd_cnz/dsd_cxc/bin/lib_ext/.debug/libacs_dsd.so.2.*
dsd_cnz/dsdadm_caa/test/test_error_double_implementer/obj/test_error_double_implementer
dsd_cnz/dsd_cxc/bin/test_error_double_implementer
dsd_cnz/dsdapi_caa/obj/acceptor-002
dsd_cnz/dsdapi_caa/demo/apg_2nred_app1/bin/apos_ha_2napp1d
dsd_cnz/dsdapi_caa/test/timeout/client/.debug/timeout_client_dbg
dsd_cnz/dsdapi_caa/test/timeout/client/timeout_client
dsdapi_caa/test/timeout/server/.debug/timeout_server_dbg
dsd_cnz/dsdapi_caa/test/timeout/server/timeout_server
dsd_cnz/dsdapi_caa/test/timeout/server/.debug/timeout_server_dbg
# add-remaining-dsd-test-binaries

#emf_cnz
emf_cnz/emf_cxc/doc/
emf_cnz/emfadm_caa/test/bin/emf_cute_test
emf_cnz/emf_cxc/bin/acs_emfserverd
emf_cnz/emf_cxc/bin/emfcopy
emf_cnz/emf_cxc/bin/emfget
emf_cnz/emf_cxc/bin/emfinfo
emf_cnz/emf_cxc/bin/.debug/acs_emfserverd_dbg
emf_cnz/emf_cxc/bin/.debug/emfcopy_dbg
emf_cnz/emf_cxc/bin/.debug/emfget_dbg
emf_cnz/emf_cxc/bin/.debug/emfinfo_dbg

#evg_lpa_cnz
evg_lpa_cnz/bin/
evg_lpa_cnz/doc/

#fcsc_cnz
fcsc_cnz/fcsc_cxc/doc/
fcsc_cnz/fcsc_cxc/bin/fcscprepare
fcsc_cnz/fcsc_cxc/bin/fcsctransfer

#trapds_cnz/
trapds_cnz/trapds_cxc/doc/
trapds_cnz/trapds_cxc/bin/acs_trapdsd
trapds_cnz/trapds_cxc/bin/showpkg
trapds_cnz/trapds_cxc/bin/.debug/acs_trapdsd_dbg
trapds_cnz/trapds_cxc/bin/lib_ext/libacs_trapdsapi.*

#usa_cnz/
usa_cnz/usa_cxc/doc/
usa_cnz/usa_cxc/bin/acs_usad
usa_cnz/usa_cxc/bin/.debug/acs_usad_dbg
usa_cnz/usa_fm_cxc/doc/*
usa_cnz/usa_fm_cxc/bin/lib_int/libacs_usa_fm.*
usa_cnz/usa_fm_cxc/bin/lib_int/.debug/libacs_usa_fm.*
usa_cnz/usacnz_old/comfm_proto/comfm_cxc/bin/libcom_fm_apg.so.1.*
usa_cnz/usacnz_old/usabin_cxc_5/
usa_cnz/usacnz_old/Publish.mak
usa_cnz/usacnz_old/doc/

#apjtp_cnz
apjtp_cnz/apjtp_cxc/doc/
apjtp_cnz/apjtp_cxc/bin/lib_ext/libacs_jtp.*
apjtp_cnz/apjtp_cxc/bin/lib_ext/.debug/libacs_jtp.*
apjtp_cnz/apjtpapi_caa/test/TestApp/bin/jtp_test
apjtp_cnz/apjtpapi_caa/test/CUTE/bin/Test
apjtp_cnz/apjtpapi_caa/test/dsd_stub/bin/libACS_DSD_Stub.so*

#chb_cnz
chb_cnz/chb_cxc/doc/
chb_cnz/chb_cxc/bin/acs_chbclocksyncd
chb_cnz/chb_cxc/bin/.debug/acs_chbclocksyncd_dbg
chb_cnz/chbadm_caa/test/CHBClient_5/
chb_cnz/chbadm_caa/test/CHB-test/
chb_cnz/chbadm_caa/test/CHBClient/
chb_cnz/chbadm_caa/test/CHBClient_BC/
chb_cnz/chbadm_caa/test/CPTest/bin/acs_chb_cp_test
chb_cnz/chbadm_caa/test/TestApp_ClockSync/bin/clocksync_test
chb_cnz/chbapi_caa/test/CHBCPOBJAPITEST/bin/ACS_CHB_CP_OBJ_API_Test
chb_cnz/chbapi_caa/test/CHBMTZAPITEST/bin/ACS_CHB_MTZ_API_Test
chb_cnz/chbapi_caa/test/CUTE/CUTE_CPObject_API/bin/CUTE_CPTest
chb_cnz/chbapi_caa/test/CUTE/CUTE_MTZAPI/bin/Test
chb_cnz/chbhbeat_cxc/doc/
chb_cnz/chbhbeat_cxc/bin/acs_chbheartbeatd
chb_cnz/chbhbeat_cxc/bin/acs_chbheartbeatchildd
chb_cnz/chbhbeat_cxc/bin/.debug/acs_chbheartbeatchildd_dbg
chb_cnz/chbhbeat_cxc/bin/.debug/acs_chbheartbeatd_dbg
chb_cnz/chbhbeat_cxc/bin/lib_ext/libacs_chb_cpobject.so.2.*
chb_cnz/chbhbeat_cxc/bin/lib_ext/.debug/libacs_chb_cpobject.so.2.*
chb_cnz/chbmtzln_cxc/doc/
chb_cnz/chbmtzln_cxc/bin/acs_chbmtzlnd
chb_cnz/chbmtzln_cxc/bin/acs_chbtimezone
chb_cnz/chbmtzln_cxc/bin/mtzln
chb_cnz/chbmtzln_cxc/bin/.debug/acs_chbmtzlnd_dbg
chb_cnz/chbmtzln_cxc/bin/.debug/acs_chbtimezone_dbg
chb_cnz/chbmtzln_cxc/bin/.debug/mtzln_dbg
chb_cnz/chbmtzln_cxc/bin/lib_ext/libacs_chb_mtz.so.2.*
chb_cnz/chbmtzln_cxc/bin/lib_ext/.debug/libacs_chb_mtz.so.2.*

#cs_cnz/
cs_cnz/cs_cxc/doc/
cs_cnz/cs_cxc/bin/acs_csd
cs_cnz/cs_cxc/bin/cpls
cs_cnz/cs_cxc/bin/hwcls
cs_cnz/cs_cxc/bin/opensession
cs_cnz/cs_cxc/bin/cpgls
cs_cnz/cs_cxc/bin/.debug/acs_csd_dbg
cs_cnz/cs_cxc/bin/.debug/cpgls_dbg
cs_cnz/cs_cxc/bin/.debug/cpls_dbg
cs_cnz/cs_cxc/bin/.debug/hwcls_dbg
cs_cnz/cs_cxc/bin/.debug/opensession_dbg
cs_cnz/csapi_caa/test/test
cs_cnz/csapi_caa/test/cp_test
cs_cnz/csapi_caa/test/fd_test
cs_cnz/csapi_caa/test/cpgroup_test
cs_cnz/csapi_caa/test/cs_api_test_all_p1a
cs_cnz/cs_cxc/bin/lib_ext/libacs_csapi.so*
cs_cnz/cs_cxc/bin/lib_ext/.debug/libacs_csapi.so*
cs_cnz/cs_cxc/libasnmp.a
cs_cnz/cs_cxc/bin/lib_int/libacs_csimm.a
cs_cnz/cs_cxc/bin/lib_int/libprot.a
cs_cnz/csadm_caa/test/cs_boardsearch/cs_boardsearch
cs_cnz/csadm_caa/test/csapi_setquorum/csapi_setquorum
cs_cnz/csadm_caa/test/csapi_test/csapi_test
cs_cnz/csadm_caa/test/csapi_test/csapi_set/csapi_set
cs_cnz/csadm_caa/test/csprot/test
cs_cnz/csadm_caa/test/dhcp_test/demo
cs_cnz/csadm_caa/test/dhcp_test/snmp
cs_cnz/csadm_caa/test/dhcp_test/timer
cs_cnz/csadm_caa/test/dhcp_test/hwcprint
cs_cnz/csadm_caa/test/group_list/group_list
cs_cnz/csadm_caa/csprot/protocol
cs_cnz/cscmd_caa/obj/libcommon.a

#tra_cnz/
tra_cnz/FT/
tra_cnz/log4cplus_env/
tra_cnz/tra_cxc/doc/
tra_cnz/tra_cxc/bin/trautil
tra_cnz/tra_cxc/bin/.debug/trautil_dbg
tra_cnz/tra_cxc/bin/lib_ext/libacs_tra.so.3.*
tra_cnz/tra_cxc/bin/lib_ext/.debug/libacs_tra.so.3.*
tra_cnz/traapi_caa/test/obj/Example

#swr_cnz/
swr_cnz/swr_cxc/doc/
swr_cnz/swr_cxc/bin/swrprint
swr_cnz/swr_cxc/bin/.debug/swrprint_dbg

#ssu_cnz/
ssu_cnz/ssu_cxc/doc/
ssu_cnz/ssu_cxc/bin/acs_ssumonitord
ssu_cnz/ssu_cxc/bin/ssucfg
ssu_cnz/ssu_cxc/bin/ssuls
ssu_cnz/ssu_cxc/bin/.debug/acs_ssumonitord_dbg
ssu_cnz/ssu_cxc/bin/.debug/ssucfg_dbg
ssu_cnz/ssu_cxc/bin/.debug/ssuls_dbg
ssu_cnz/ssuadm_caa/test/CUTE/bin/CUTE_SSUMONITORSERVICE_CXC

#sch_cnz/
sch_cnz/sch_cxc/doc/
sch_cnz/sch_cxc/bin/acs_schd
sch_cnz/sch_cxc/bin/lib_int/libacs_schimm.a
sch_cnz/sch_cxc/bin/.debug/acs_schd_dbg

#rtr_cnz/
rtr_cnz/rtr_cxc/doc/
rtr_cnz/rtr_cxc/bin/acs_rtrd
rtr_cnz/rtr_cxc/bin/rtrch
rtr_cnz/rtr_cxc/bin/rtrdef
rtr_cnz/rtr_cxc/bin/rtrfe
rtr_cnz/rtr_cxc/bin/rtrls
rtr_cnz/rtr_cxc/bin/rtrrm
rtr_cnz/rtr_cxc/bin/.debug/acs_rtrd_dbg
rtr_cnz/rtr_cxc/bin/.debug/rtrch_dbg
rtr_cnz/rtr_cxc/bin/.debug/rtrdef_dbg
rtr_cnz/rtr_cxc/bin/.debug/rtrfe_dbg
rtr_cnz/rtr_cxc/bin/.debug/rtrls_dbg
rtr_cnz/rtr_cxc/bin/.debug/rtrrm_dbg
rtr_cnz/rtr_cxc/bin/lib_int/libacs_rtr.so.2.*
rtr_cnz/rtr_cxc/bin/lib_int/.debug/libacs_rtr.so.2.*

#/nclib_cnz/
nclib_cnz/nclib_cxc/doc
nclib_cnz/nclib_cxc/bin/ironsidecmd
nclib_cnz/nclib_cxc/bin/ncaction
nclib_cnz/nclib_cxc/bin/nceditconfig
nclib_cnz/nclib_cxc/bin/ncget
nclib_cnz/nclib_cxc/bin/.debug/ironsidecmd
nclib_cnz/nclib_cxc/bin/.debug/ncaction
nclib_cnz/nclib_cxc/bin/.debug/nceditconfig
nclib_cnz/nclib_cxc/bin/.debug/ncget
nclib_cnz/nclib_cxc/bin/lib_ext/libacs_nclib.so.1.*
nclib_cnz/nclib_cxc/bin/lib_ext/.debug/libacs_nclib.so.1.*
nclib_cnz/nclibapi_caa/test/nc_clientnc_client
nclib_cnz/nclibapi_caa/test/nc_clientnc_client_action
nclib_cnz/nclibapi_caa/test/nc_clientnc_client_dbg
nclib_cnz/nclibapi_caa/test/nc_clientnc_client_action_dbg
nclib_cnz/nclibapi_caa/test/nc_server/nc_server
nclib_cnz/nclibapi_caa/test/nc_server/nc_server_dbg
nclib_cnz/nclibapi_caa/test/udp_client/udp_client
nclib_cnz/nclibapi_caa/test/udp_client/udp_client_dbg
nclib_cnz/nclib_cxc/bin/.debug/ironsidecmd_dbg
nclib_cnz/nclib_cxc/bin/.debug/ncaction_dbg
nclib_cnz/nclib_cxc/bin/.debug/nceditconfig_dbg
nclib_cnz/nclib_cxc/bin/.debug/ncget_dbg

#/prc_cnz/
prc_cnz/prc_cxc/bin/acs_prcispd
prc_cnz/prc_cxc/bin/acs_prcmand
prc_cnz/prc_cxc/bin/ispprint
prc_cnz/prc_cxc/bin/prcboot
prc_cnz/prc_cxc/bin/prcstate
prc_cnz/prc_cxc/bin/.debug/acs_prcispd_dbg*
prc_cnz/prc_cxc/bin/.debug/acs_prcmand_dbg*
prc_cnz/prc_cxc/bin/.debug/ispprint_dbg*
prc_cnz/prc_cxc/bin/.debug/prcboot_dbg*
prc_cnz/prc_cxc/bin/.debug/prcstate_dbg*
prc_cnz/prc_cxc/bin/lib_ext/libacs_prc.so.2.*
prc_cnz/prc_cxc/bin/lib_ext/.debug/libacs_prc.so.2.*
prc_cnz/prc_cxc/bin/lib_int/libacs_prc_evt.so.1.*
prc_cnz/prc_cxc/bin/lib_int/.debug/libacs_prc_evt.so.1.*

#/nsf_cnz/
nsf_cnz/nsf_cxc/doc/
nsf_cnz/nsf_cxc/bin/acs_nsfbiostimerecovery
nsf_cnz/nsf_cxc/bin/acs_nsfserverd
nsf_cnz/nsf_cxc/bin/nsfreset
nsf_cnz/nsf_cxc/bin/nsfstart
nsf_cnz/nsf_cxc/bin/nsfstop
nsf_cnz/nsf_cxc/bin/.debug/acs_nsfbiostimerecovery_dbg
nsf_cnz/nsf_cxc/bin/.debug/acs_nsfserverd_dbg
nsf_cnz/nsf_cxc/bin/.debug/nsfreset_dbg
nsf_cnz/nsf_cxc/bin/.debug/nsfstart_dbg
nsf_cnz/nsf_cxc/bin/.debug/nsfstop_dbg
nsf_cnz/nsfadm_caa/test/CUTE/bin/NSF_Cute_Test
nsf_cnz/nsfadm_caa/test/CUTE/bin/Test

#/hcs_cnz/
hcs_cnz/hcs_cxc/doc
hcs_cnz/hcs_cxc/bin/acs_hcd
hcs_cnz/hcs_cxc/bin/.debug/acs_hcd_dbg
hcs_cnz/hcstart_cxc/doc

#/lm_cnz/
lm_cnz/lm_cxc/doc
lm_cnz/lm_cxc/bin/acs_lmserverd
lm_cnz/lm_cxc/bin/license_install
lm_cnz/lm_cxc/bin/lmemstart
lm_cnz/lm_cxc/bin/lmgenlockcode
lm_cnz/lm_cxc/bin/lminst
lm_cnz/lm_cxc/bin/lmlkls
lm_cnz/lm_cxc/bin/lmlkmapls
lm_cnz/lm_cxc/bin/lmtestact
lm_cnz/lm_cxc/bin/lmtestadd
lm_cnz/lm_cxc/bin/lmtestls
lm_cnz/lm_cxc/bin/lmtestrm
lm_cnz/lm_cxc/bin/show_licenses
lm_cnz/lm_cxc/bin/.debug/acs_lmserverd_dbg
lm_cnz/lm_cxc/bin/.debug/license_install_dbg
lm_cnz/lm_cxc/bin/.debug/lmgenlockcode_dbg
lm_cnz/lm_cxc/bin/.debug/lmlkmapls_dbg
lm_cnz/lm_cxc/bin/.debug/lmtestact_dbg
lm_cnz/lm_cxc/bin/.debug/lmtestadd_dbg
lm_cnz/lm_cxc/bin/.debug/lmtestls_dbg
lm_cnz/lm_cxc/bin/.debug/lmtestrm_dbg
lm_cnz/lm_cxc/bin/.debug/show_licenses_dbg
lm_cnz/lmadm_caa/test/CUTE/bin/LM_Cute_Test

#remaning apps
apgcc_cnz/*/DemoInvokeAdminOperation
apgcc_cnz/*/LibA211SH2_DemoImplementer
apgcc_cnz/*/LibA211SH2_DemoManager
apgcc_cnz/*/OiHandler_Demo_new
apgcc_cnz/*/OmHandler_Demo_new
apgcc_cnz/*/OiHandler_Demo
apgcc_cnz/*/TestAdminOperation_Implementer
apgcc_cnz/*/class_create
apgcc_cnz/*/class_destroy
apgcc_cnz/*/immDemo_2
apgcc_cnz/*/runtimeClassManager
apgcc_cnz/*/runTimeObj_demo
apgcc_cnz/*/AdminOperationImplementerTest
apgcc_cnz/*/adminOperationInvokeUT
apgcc_cnz/*/AdminOperationUT
apgcc_cnz/*/AsyncAdminOperationUT
apgcc_cnz/*/AugmentedCcbUT
apgcc_cnz/*/DeleteMultipleObjUT
apgcc_cnz/*/getErrorUnitTest
apgcc_cnz/*/GetSetErrorUT
apgcc_cnz/*/ObjectImplementer_LibA211
apgcc_cnz/*/ObjectManager_LibA211_newlib
apgcc_cnz/*/CcbCorruptionManagementUT
apgcc_cnz/*/MultipleClassImplementerUT
apgcc_cnz/*/newInitMethodUT
apgcc_cnz/*/OiHandlerUT
apgcc_cnz/*/OiHandler_V2UT
apgcc_cnz/*/OiHandler_V3UT
apgcc_cnz/*/RuntimeOwnerUT
apgcc_cnz/*/RuntimeOwnerUT_V2
apgcc_cnz/*/RuntimeOwnerV2_AdminOpUT
apgcc_cnz/*/getClassInstancesUT
apgcc_cnz/*/getTestAttributeUT
apgcc_cnz/*/paramHandlingUT
apgcc_cnz/*/testRuntimeOwner
apgcc_cnz/*/transactionalOperationTest
apgcc_cnz/*/transactionalOperationUT
apgcc_cnz/apgcc_cxc/doc/
apgcc_cnz/apgcc_cxc/bin/lib_ext/libacs_apgcc.so.5.*
apgcc_cnz/apgcc_cxc/bin/lib_ext/.debug/libacs_apgcc.so.5.*

